@font-face{
    font-family: 'WhateverNote Title';
    src: url(/app/assets/fonts/Domine-Bold.ttf);
    font-family: 'WhateverNote body';
    src: url(/app/assets/fonts/OpenSans-Regular.ttf);
}

$title: "WhateverNote Title";
$body: "WhateverNote body";