.editor{
    flex-grow: 1;

    .header{
        position: relative;

        #first-header{
            display: flex;
            justify-content: space-between;
            height: 30px;
            padding: 5px 0;
            padding-bottom: 15px;
            #right{
                padding-right: 10px;
                #note-options{
                    padding: 10px 5px;
                    width: auto;
                    position: relative;
                    border-radius: 3px;
                    i{
                        background-color: transparent;
                        color: gray;
                        transition: color 0.5s;
                    }
                }
    
                #note-options:hover{
                    background-color: $lightest-blue;
                    cursor: pointer;
                    i{
                        color: $dark-blue;
                    }
                }
    
    
                #options-dropdown{
                    position: absolute;
                    z-index: 2;
                    top:35px;
                    right: 3px;
                    width: 160px;
                    box-shadow: 0 0 5px $gray;
                    box-sizing: border-box;
                    padding: 5px 0;

                    li{
                        li{
                            padding: 5px 20px;
                            font-size: 14px;
                            font-weight: 600;
                            color: $dark-gray;
                            border:none;
                        }
                        ul{
                            padding: 5px 0;
                        }
                        border-bottom: 1px solid $light-gray;
                    }

                    li:last-of-type{
                        border: none;
                    }

                    li:hover{
                        background-color: $light-gray;
                    }
                }
            }

            #left{
                padding-left: 10px;
                
                .size-toggle{
                    display: none;
                    padding: 10px 5px;
                    width: auto;
                    border-radius: 3px;
                    i{
                        background-color: transparent;
                        color: gray;
                        transition: color 0.5s;
                    }
                }

                .size-toggle:hover{
                    background-color: $lightest-blue;
                    cursor: pointer;
                    i{
                        color: $dark-blue;
                    }
                }

                .show{
                    display: block;
                }
            }
        }

        #toolbar-field{
            height: 30px;
            padding-left: 20px;

            .active{
                display: block;
            }
    
            p, nav{
                display: none;
                position: absolute;
            }
            
            p{
                margin-bottom: 10px;
                font-family: $body;
                font-size: 13px;
                color: $gray;
            }
        }
    }
    form{
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-top: 31px;
        color: $dark-gray;
        border-top: 1px solid $light-gray;
        z-index: 1;

        #title{
            color: inherit;
            display: block;
            font-size: 26px;
            font-weight: bold;
        }

        #body{
            margin-top: 25px;
            color: inherit;
            box-sizing: border-box;
            width: 100%;
            min-height: 600px;
        }
    }
}