.auth{
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;

    #auth-background{
        position: absolute;
        z-index: 1;
        top: 0;
        height: 105%;
        opacity: 0.3;
    }

    .login-form, .signup-form{
        z-index: 2;
        height: 650px;
        width: 520px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.349);

        .form-logo{
            margin-top: 10px;
            padding: 55px;
            img{
                margin: 0 auto;
                width: 80px;
            }
            h2 {
                text-align: center;
                font-size: 35px;
                font-family: 'Playfair Display', serif;
                font-style: bolder;
                color: black;
                padding-left: 5px;
            }
            p{
                margin-top: 10px;
                text-align: center;
                font-family: $body;
                font-size: 15px;
            }
        }

        form {
            margin: 0 auto;
            width: 300px;
            input{
                box-sizing: border-box;
                width: 300px;
                padding: 10px;
                border: 1px solid $lightest-blue;
                border-radius: 5px;
                margin-bottom: 10px;
                font-family: $body;
                font-size: 15px;
            }

            button{
                box-sizing: border-box;
                width: 300px;
                height: 45px;
                text-align: center;
                background-color: $dark-blue;
                color: white;
                font-family: $title;
                font-size: 17px;
                font-weight: bold;
                border-radius: 5px;
            }

            button:hover{
                background-color: $blue;
            }
        }

        .demo{
            margin: 0 auto;
            width: 300px;

            button{
                box-sizing: border-box;
                width: 300px;
                height: 45px;
                text-align: center;
                border: 1px solid rgb(211, 211, 211);
                color: $gray;
                font-family: $title;
                font-size: 17px;
                font-weight: normal;
                border-radius: 5px;

                i{
                    color: $dark-blue;
                    opacity: 0.7;
                    padding-right: 20px;
                }
            }
    
            button:hover{
                background-color: rgb(247, 247, 247);
            }

            p{
                text-align: center;
                margin: 10px;
                font-family: $body;
                color: $gray;
                font-size: 14px;
            }
        }

        .auth-options{
            margin-top: 35px;
            text-align: center;
            font-family: $body;
            font-size: 14px;
            
            a{
                font-size: 20px;
                color: $dark-blue;
            }

            a:hover{
                color: $blue;
            }
        }
    }

}