.splash-content{
    .first{
        background-color: $lightest-blue;
    }

    .first .page-limit{
        display: flex;
        height: 700px;
        align-items: center;
        font-family: $title;
        align-items: flex-start;
        position: relative;
        background: transparent;

        img{
            align-self: center;
            width: 500px;
            height: 600px;
            background: transparent;
            margin-left: 30px;
        }
        div{
            background: transparent;
        }
    
        h1{
            background: transparent;
            font-size: 60px;
            padding: 10px 0;
        }

        #first-title{
            padding-top: 130px;
        }

        #second-title{
            padding-bottom: 20px;
            padding-left: 100px;
        }

        #text{
            text-align: center;
            margin: 30px auto;
            width: 400px;
        }

        #signup-button{
            position: absolute;
            padding: 20px 60px;
            margin-top: 50px;
            right: 18%;
            background-color: $dark-blue;
            color: white;
            font-family: $title;
            font-size: 17px;
            font-weight: bold;
            border-radius: 3px;
        }

        #signup-button:hover{
            background-color: $blue;
        }
    }

    .second{
        background-color: rgb(238, 238, 238);
        display: flex;
        justify-content: center;
    }

    .second .page-limit{
        height: 800px;
        align-items: center;
        font-family: $title;
        align-items: flex-start;
        background: transparent;
        
        h1, h3, ul, li, p{
            background: transparent;
            text-align: center;
        }
        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        li{
            width: 33%;
            div{
                width: 120px;
                height: 120px;
                box-shadow: 0 0 10px $gray;
                border-radius: 50%;
                background: rgb(245, 245, 245);
                position: relative;
                margin: auto;
                img{
                    position: absolute;
                    top: 18px;
                    left: 0px;
                    width: 90px;
                    padding: 15px;
                    background: transparent;
                }

                i{
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    font-size: 80px;
                    padding: 15px;
                    background: transparent;
                    color: $dark-blue;
                    text-align: center;
                }
            }
        }

        h1{
            padding: 100px;
            font-size: 75px;
        }

        h3{
            font-size: 30px;
        }

        p{
            max-width: 300px;
            padding: 0 30px;
            font-size: 20px;
        }
    }
}